{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Smart Kitchen Companion</title>
    <link rel="stylesheet" href="{% static 'kitchen/css/style.css' %}">
</head>
<body>
    <header>
        <h1>Smart Kitchen Companion</h1>
        <nav>
            <a href="{% url 'home' %}">Home</a>
            <a href="{% url 'inventory' %}">Inventory</a>
            <a href="{% url 'recipe_suggestions' %}">Recipe Suggestions</a>
            {% if user.is_authenticated %}
                <a href="{% url 'logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </nav>
    </header>
    <main>

        {% block content %}

        {% endblock %}
    </main>
    <footer>
        <p>copyright</p>
    </footer>
</body>
</html>